# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/


# Visual Studio Code
.vscode/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/repositories.config

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Secrets and local settings
appsettings.Development.json
secrets.json
*.ntvs*
*.njsproj